[Unit]
Description=Pulsar Proxy
After=network.target

[Service]
Type=simple
WorkingDirectory=/pulsar/pulsar-proxy
ExecStart=/usr/bin/node /pulsar/pulsar-proxy/proxy.js --tls --key /etc/letsencrypt/live/pulsar-chat.ru/privkey.pem --cert /etc/letsencrypt/live/pulsar-chat.ru/fullchain.pem
Restart=on-failure
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
